<div class="container mt-5" *ngIf="loaded">
  <div class="row align-items-baseline">
    <div class="col text-right">
      <p>Growth rate</p>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-select
          [(ngModel)]="selectedData"
          #select
          (selectionChange)="selectData($event)"
        >
          <mat-option> </mat-option>
          <mat-option *ngFor="let option of availableData" [value]="option">
            {{ option.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <canvas
      #rateChart
      baseChart
      width="400"
      height="400"
      [datasets]="rateChartData"
      [labels]="rateChartLabels"
      [options]="rateChartOptions"
      [colors]="rateChartColors"
      [chartType]="rateChartType"
    ></canvas>
  </div>
</div>
