div.container-fluid {
  -webkit-box-shadow: 0 2px 3px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 2px 3px rgba(57, 63, 72, 0.3);
  box-shadow: 0 2px 3px rgba(57, 63, 72, 0.3);
}

.nav-tabs > li > a:hover {
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.mat-slide-toggle {
  height: unset;
}
