div.container-fluid {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

div.container-fluid.app {
  padding: 0;
  text-align: center;
}

main {
  flex: 1 0 auto;
}

.mat-app-background {
  height: 100%;
  overflow: scroll;
}


router-outlet  {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}

