<div class="container-fluid justify-content-center" *ngIf="!mobile">
  <div *ngIf="!loaded">
    <mat-spinner></mat-spinner>
  </div>
  <div class="row mt-5">
    <div class="col m-3">
      <mat-form-field>
        <mat-label>Select the country</mat-label>
        <mat-select (selectionChange)="selectCountry($event)">
          <mat-option *ngFor="let country of countries" [value]="country">
            {{ country }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col h3 text-center">{{ selectedCountry }}</div>
    <div class="col"></div>
  </div>

  <linechart-component [inputData]="inputData"></linechart-component>

  <doughnut-component [inputData]="inputData"> </doughnut-component>
</div>

<div class="container-fluid" *ngIf="mobile">
  <div *ngIf="!loaded">
    <mat-spinner></mat-spinner>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <mat-form-field>
        <!--TODO SEARCH FILTER-->
        <mat-label>Select the country</mat-label>
        <mat-select (selectionChange)="selectCountry($event)" #countriesSelect>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Search country by name" ngModel (ngModelChange)="getFilter($event)"></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let country of filteredCountries | async"
            [value]="country"
          >
            {{ country }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
