<div class="container-fluid">
  <div class="m-3">Date: {{ date }}</div>

  <mat-tab-group>
    <mat-tab *ngFor="let number of counter(numberOfTabs); index as i">
      <ng-template mat-tab-label>
        {{ getLabels(i) }}
      </ng-template>

      <div *ngIf="dataSource && dataSource[0]" class="container-fluid">
        <table mat-table [dataSource]="dataSource[i]"  matSort class="w-100">
          <ng-container matColumnDef="country">
            <th
              class="text-uppercase"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
            >
              <h4>Country</h4>
            </th>
            <td mat-cell *matCellDef="let element">{{ element.country }}</td>
          </ng-container>

          <ng-container matColumnDef="new-cases">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>New cases</th>
            <td class="text-center table-warning" mat-cell *matCellDef="let element">{{ element.cases.new }}</td>
          </ng-container>

          <ng-container matColumnDef="active-cases">
            <th class="text-uppercase" mat-header-cell *matHeaderCellDef mat-sort-header>Active cases</th>
            <td class="text-center" mat-cell *matCellDef="let element">
              {{ element.cases.active }}
            </td>
          </ng-container>

          <ng-container matColumnDef="critical-cases">
            <th class="text-uppercase" mat-header-cell *matHeaderCellDef mat-sort-header>Critical cases</th>
            <td class="text-center" mat-cell *matCellDef="let element">
              {{ element.cases.critical }}
            </td>
          </ng-container>

          <ng-container matColumnDef="recovered">
            <th class="text-uppercase"mat-header-cell *matHeaderCellDef mat-sort-header>Recovered</th>
            <td class="text-center table-success" mat-cell *matCellDef="let element">
              {{ element.cases.recovered }}
            </td>
          </ng-container>
          <ng-container matColumnDef="total-cases">
            <th class="text-uppercase" mat-header-cell *matHeaderCellDef mat-sort-header>Total cases</th>
            <td class="text-center" mat-cell *matCellDef="let element">
              {{ element.cases.total }}
            </td>
          </ng-container>

          <ng-container matColumnDef="new-deaths">
            <th class="text-uppercase" mat-header-cell *matHeaderCellDef mat-sort-header>New deaths</th>
            <td class="text-center" mat-cell *matCellDef="let element">{{ element.deaths.new }}</td>
          </ng-container>

          <ng-container matColumnDef="total-deaths">
            <th class="text-uppercase" mat-header-cell *matHeaderCellDef mat-sort-header>Total deaths</th>
            <td class="table-danger text-center" mat-cell *matCellDef="let element">
              {{ element.deaths.total }}
            </td>
          </ng-container>

          <ng-container matColumnDef="total-tests">
            <th class="text-uppercase" mat-header-cell *matHeaderCellDef mat-sort-header>Total tests</th>
            <td class="text-center" mat-cell *matCellDef="let element">
              {{ element.tests.total }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
