@import "~@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-gray);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

$primary: mat-palette($mat-blue-grey);
$accent: mat-palette($mat-amber, A200, A100, A400);
$dark-theme: mat-dark-theme($primary, $accent);

.dark-theme {
  @include angular-material-theme($dark-theme);
  .dark-theme-class#text {
    color: #fff;
  }
  #button {
    background-color: #607d8b;
  }

  #background-image {
    background-image: url(./app/images/world-image-negative.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 4;
  }

  #background-color-warning {
    background-color: #6e5300;
  }

  #background-color-success {
    background-color: #183d21;
  }

  #background-color-danger {
    background-color: #7a000d;
  }
}
