<div class="container-fluid m-5">
  <div class="row m-3">
    <div class="col">
      <p class="h4">Last update: {{ date | date: "short" }}</p>
    </div>
  </div>

  <div *ngIf="!loaded">
    <mat-spinner></mat-spinner>
  </div>

  <div class="row justify-content-center mt-3" *ngIf="!mobile && !tablet && loaded">
    <div class="col text-center">
      <p class="display-4">Total cases: {{ totalCases | renderLongNumbers }}</p>
      <p class="display-4">New cases: + {{ newCases | renderLongNumbers }}</p>
      <p class="display-4">Recovered: {{ recoveredCases | renderLongNumbers }}</p>
      <p class="display-4">Active cases: {{ activeCases | renderLongNumbers }}</p>
      <p class="display-4">Critical cases: {{ criticalCases | renderLongNumbers }}</p>
      <p class="display-4">New deaths: + {{ newDeaths | renderLongNumbers }}</p>
      <p class="display-4">Total deaths: {{ totalDeaths | renderLongNumbers }}</p>
      <p *ngIf="tests" class="display-4">Tests: {{ tests | renderLongNumbers }}</p>
    </div>
  </div>

  <div class="row justify-content-center mt-3" *ngIf="tablet && loaded">
    <div class="col text-center">
      <p class="h4">Total cases: {{ totalCases | renderLongNumbers }}</p>
      <p class="h4">New cases: + {{ newCases | renderLongNumbers }}</p>
      <p class="h4">Recovered: {{ recoveredCases | renderLongNumbers }}</p>
      <p class="h4">Active cases: {{ activeCases | renderLongNumbers }}</p>
      <p class="h4">Critical cases: {{ criticalCases | renderLongNumbers }}</p>
      <p class="h4">New deaths: + {{ newDeaths | renderLongNumbers }}</p>
      <p class="h4">Total deaths: {{ totalDeaths | renderLongNumbers }}</p>
      <p *ngIf="tests" class="h4">Tests: {{ tests | renderLongNumbers }}</p>
    </div>
  </div>

  <div class="row justify-content-center mt-3" *ngIf="mobile">
    <div class="col text-center">
      <p>Total cases: {{ totalCases | renderLongNumbers }}</p>
      <p>New cases: + {{ newCases | renderLongNumbers }}</p>
      <p>Recovered: {{ recoveredCases | renderLongNumbers }}</p>
      <p>Active cases: {{ activeCases | renderLongNumbers }}</p>
      <p>Critical cases: {{ criticalCases | renderLongNumbers }}</p>
      <p>New deaths: + {{ newDeaths | renderLongNumbers }}</p>
      <p>Total deaths: {{ totalDeaths | renderLongNumbers }}</p>
      <p *ngIf="tests">Tests: {{ tests | renderLongNumbers }}</p>
    </div>
  </div>
</div>
